@import "tailwindcss";
@import "@heroui/styles";

/*
 * HeroUI Theme — Dark only
 * @see https://heroui.com/docs/react/getting-started/theming
 */

:root {
  color-scheme: dark;
  --accent: oklch(0.9848 0 0);
  --accent-foreground: oklch(15% 0 0);
  --background: oklch(12% 0.0015 0);
  --border: oklch(28% 0.0015 0);
  --danger: oklch(59.4% 0.1973 354.17);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.0015 0);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.003 0);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.0015 0);
  --field-placeholder: oklch(70.5% 0.003 0);
  --focus: oklch(0.9848 0 0);
  --foreground: oklch(99.11% 0.0015 0);
  --muted: oklch(70.5% 0.003 0);
  --overlay: oklch(21.03% 0.003 0);
  --overlay-foreground: oklch(99.11% 0.0015 0);
  --scrollbar: oklch(70.5% 0.0015 0);
  --segment: oklch(39.64% 0.0015 0);
  --segment-foreground: oklch(99.11% 0.0015 0);
  --separator: oklch(25% 0.0015 0);
  --success: oklch(73.29% 0.1941 120.35);
  --success-foreground: oklch(21.03% 0.0059 120.35);
  --surface: oklch(21.03% 0.003 0);
  --surface-foreground: oklch(99.11% 0.0015 0);
  --surface-secondary: oklch(25.7% 0.0023 0);
  --surface-secondary-foreground: oklch(99.11% 0.0015 0);
  --surface-tertiary: oklch(27.21% 0.0023 0);
  --surface-tertiary-foreground: oklch(99.11% 0.0015 0);
  --warning: oklch(82.03% 0.1392 45.88);
  --warning-foreground: oklch(21.03% 0.0059 45.88);
  --accent-soft-foreground: oklch(0.9848 0 0);
  --radius: 0.5rem;
  --field-radius: 0.75rem;
  --font-sans: "Geist Pixel Variable", sans-serif;
}

@theme {
  --font-sans: "Geist Pixel Variable", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-background text-foreground;
}
